body {
  padding: 50px;
  font: 14px Arial, Helvetica, sans-serif;
}

#error {
  color:red;
}

.left {
  float:left;
}

.right {
  float:right;
}

a#search-prev, a#search-next { display:none; cursor:pointer; }
a#search-next { float:right; }

