/** Global Styles **/

body {
  font: .8em Arial, Helvetica, sans-serif;
  min-width: 330px;
}

.error {
  color:red;
  font-weight:bold;
}

.left {
  float:left;
}

.right {
  float:right;
}

.pre {
  white-space: pre-wrap;
}

.ztop {
  z-index: 999;
}

a:hover {
  cursor: pointer;
}

dt {
  float:left;
  margin: 0 10px 5px 0;
  text-align: right;
  width:100px;
}

dd {
  margin: 0 0 10px 0px;
  display: table;
}


.video-list {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.video-list li {
  cursor: pointer;
  left: 0;
  background-color: #DDD;
  margin: .5em;
  padding: .3em;
  border-radius: 4px;
  min-height: 80px;
  border: 1px solid#AAA;
}
.video-list li.selected:hover {
  background-color: #BBD8DC !important;
}
.video-list li:hover {
  background-color: #EEE;
}
.video-list .selected {
  background-color: #CFD8DC !important;
  color: white;
}
.video-list .thumbnail {
  position:absolute;
  width: 110px;
  border-radius: 2px;
  padding:4px;
}
.video-list .thumbnail img {
  width: 110px;
}
.video-list h4 {
  margin: 0;
}
.video-list div.info {
  margin-left: 120px;
}


.status {
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid;
}

footer {
  position:fixed;
  width:100%;
  bottom:0;
  left:0;
  background: rgba(240,240,240,0.8);
  border-top: 1px solid;
  padding:3px;
  font-size: 16px;
}

footer .nav {
  font-weight: bold;
  height:20px;
}

footer .nav #back, footer .nav #forward { 
  cursor:pointer;
}
footer .nav #back:hover, footer .nav #forward:hover {
  color: #777;
}
footer .nav #forward {
  float:right;
  padding-right:15px;
}