<h2>Favorites</h2>
<div class="status" *ngIf="!working && faves?.length === 0">You have not saved any favorites</div>
<!-- check videos.length to force change detection of the 'working' variable -->
<div class="status" *ngIf="working && videos?.length === 0">Searching...</div>
<ul class="video-list">
  <li *ngFor="#video of videos"
    [class.selected]="video === selectedVideo"
    (click)="onSelect(video)">
    <img src="{{video.thumbnails.medium.url}}" class="thumbnail">
    <div class="info">
      <h4>{{video.title}}</h4>
      <span class="description pre" [innerHTML]="video.description"></span>
    </div>
  </li>
</ul>
<small><a *ngIf="faves?.length !== 0" (click)="clear()">Clear Favorites</a></small>