.search-params {
  min-width: 470px;
  border: 1px solid;
  padding: 5px;
}
.search-params dt {
  float:left;
}
.search-params .success {
  color: green;
  padding-left: 4px;
}
.search-params .error {
  color: red;
  padding-left: 4px;
}
input.error {
  background: rgba(0,0,0,0);
  border:0px;
  padding-top:2em;
}

