<h2>Search</h2>
<div class="search-params">
  <dl>
    <dt><label for="query">Query:</label></dt>
    <dd>
      <input id="query" type="text" placeholder="Search Keywords"
        [(ngModel)]="query" (keyup.enter)="performSearch()" />
    </dd>
    <dt><label for="location">Location:</label></dt>
    <dd>
      <input id="location" type="text" placeholder="lat,long"
        [(ngModel)]="geolocation" (keyup.enter)="performSearch()" />
      <span class="success" *ngIf="isValidLocation()">&#x2713;</span>
      <span class="error" *ngIf="geolocation !== '' && !isValidLocation()">&#x2716; Invalid Coordinates for Earth</span>
      <br>
      <button id="my-location" (click)="getLocation()">Use my current location</button>
    </dd>
    <dt><label for="radius">Radius:</label></dt>
    <dd>
      <input id="radius" type="text" placeholder="4mi" 
        [(ngModel)]="radius" (keyup.enter)="performSearch()" />
      <!--Show a "required" message if the value is blank and the location is not blank (but still considered valid) and contains a valid lat/long tuple-->
      <span class="success" *ngIf="isValidRadius()">&#x2713;</span>
      <span class="error" *ngIf="radius === '' && isValidLocation()">&#x2716; Required with location</span>
      <span class="error" *ngIf="geolocation !== '' && radius !== '' && !isValidRadius()">&#x2716; Invalid</span>
    </dd>
    <dt><label for="order">Sort by:</label></dt>
    <dd>
      <select name="order" (change)="orderBy = $event.target.value">
        <option value="relevance">Relevance</option>
        <option value="date">Date</option>
        <option value="rating">Rating</option>
        <option value=""></option>
      </select>
    </dd>
    <dt></dt>
    <dd><br><button id="search-button" (click)="performSearch()">Search</button></dd>
    <dt></dt>
    <dd><input class="error" type="text" disabled="disabled" [(ngModel)]="errorMessage" /></dd>
  </dl>
</div>
<div class="status" *ngIf="!working && videos?.length === 0">No results</div>
<!-- check videos.length to force change detection of the 'working' variable -->
<div class="status" *ngIf="working && videos?.length === 0">Searching...</div>
<ul class="video-list">
  <li *ngFor="#video of videos"
    [class.selected]="video === selectedVideo"
    (click)="onSelect(video)">
    <img src="{{video.thumbnails.medium.url}}" class="thumbnail">
    <div class="info">
      <h4>{{video.title}}</h4>
      <span class="description pre" [innerHTML]="video.description"></span>
    </div>
  </li>
</ul>
<footer>
  <div class="nav">
    <a id="back" *ngIf="prevPageToken" (click)="performSearch(prevPageToken)">&#x21b6; Previous</a>
    <a id="forward" *ngIf="nextPageToken" (click)="performSearch(nextPageToken)">&#x21b7; Next</a>
  </div>
</footer>
