div.details {
  padding-bottom: 30px;
}

.error {
  background: rgba(0,0,0,0);
  border:0px;
  padding-top:2em;
  color:red;
}

/* Set player width to 100%, while maintaining aspect ratio */
#player {
  width:100%;
  position: relative;
  padding-bottom: 51%;
}

#player > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}


/* Title */
h3 {
  text-decoration: underline;
}

/* Detail section */
h4 {
  background: lightgray;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
h4.detail_active {
  background: #444;
  color: white;
}

h4 + div {
  display: none;
  opacity: 0;
  transition: all 1s ease-in;
}
h4 + div.detail_active {
  display: block;
  opacity: 1;
  transition: all 1s ease-in;
  padding-bottom: 10px;
}

/* Tags */
span.tag {
  background: lightblue;
  margin: 5px;
  padding: 3px;
  display: inline-block;
  border-radius: 4px;
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
  background: #EEE;
  border-radius: 4px;
  min-height: 50px;
}
.comment .comment {
  margin-left: 10px;
}
.comment img {
  float: left;
  margin-right: 10px;
  max-height: 50px;
}
.comment .timestamp {
  float:right;
  font-size: 8pt;
  margin: -6px -6px 10px 10px;
}
.comment .text {
  display: table-cell;
}